body {
  background-color: #F5F6F0;
}

.cat {
  background-color: #273bd0;
}

#baner {
  padding-top: 18%;
  padding-bottom: 3%;
}

#baner h1 {
  font-size: 90px;
  font-weight: bold;
}

#baner p {
  text-align: justify;
}

#baner .InfoBaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#baner .InfoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#About {
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: #353535;
}

#About h3 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

#About p {
  text-align: justify;
  color: white;
}

#About .AboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#About .AboutImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Marcas {
  padding-top: 5%;
  padding-bottom: 5%;
}

#Marcas h5 {
  text-align: center;
  font-size: 35px;
}

#Marcas .Marcasimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Marcas .img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

#testimonio {
  background-color: #637482;
  padding-top: 5%;
  padding-bottom: 5%;
}

#testimonio h5 {
  color: white;
  text-align: center;
  font-size: 25px;
}

#testimonio p {
  color: white;
  text-align: justify;
}

#testimonio .boxtestimonio {
  background-color: #C59877;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: -3px 5px 29px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 5px 29px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 5px 29px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
}

#Proyectos {
  padding-top: 5%;
  padding-bottom: 5%;
}

#Proyectos .btn {
  background-color: #637482;
  color: white;
}

#footer {
  background-color: #353535;
}

#footer h4 {
  color: #F5F6F0;
}

#footer ul {
  color: #F5F6F0;
}

#footer li {
  color: #F5F6F0;
}

#footer a {
  color: #F5F6F0;
}
/*# sourceMappingURL=style.css.map */